@{title('MediQ')}

<div class="flex-1 flex flex-direction-column flex-align-items-center red lighten-4">
	<h1 class="center">Accueil</h1>
	<img class="responsive-img" src="http://placehold.it/500x150">
	<p class="center">
		Marre des salles d'attentes bondés ?<br />
		<b>Regardez combien de temps d'attente il reste avant votre rendez vous !</b>
	</p>
</div>
<div class="flex-1 green lighten-4">
	<h1 class="center">MediQ, c'est quoi ?</h1>
	<div class="row">
		<div class="col s2">
		</div>
		<div class="col s8">
			<div class="full-width flex flex-direction-row flex-justify-content-space-around flex-wrap-wrap flex-wrap-nowrap-l row">
				<div class="flex flex-direction-column flex-align-items-center padding-left-10 padding-right-10 col s12 m6">
					<img src="http://placehold.it/150x150">
					<p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="flex flex-direction-column flex-align-items-center padding-left-10 padding-right-10 col s12 m6">
					<img src="http://placehold.it/150x150">
					<p class="center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
				</div>
				<div class="flex flex-direction-column flex-align-items-center padding-left-10 padding-right-10 col s12 m6">
					<img src="http://placehold.it/150x150">
					<p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="flex flex-direction-column flex-align-items-center padding-left-10 padding-right-10 col s12 m6">
					<img src="http://placehold.it/150x150">
					<p class="center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="flex-1 teal accent-1">
	<h1 class="center">Qui sommes nous ?</h1>
	<div class="row">
		<div class="col s2">
		</div>
		<div class="col s8">
			<div class="full-width flex flex-direction-row flex-justify-content-space-around flex-wrap-wrap flex-wrap-nowrap-m">
				<div class="flex flex-direction-column flex-align-items-center padding-left-10 padding-right-10">
					<img src="http://placehold.it/150x150">
					<h5 class="center">Paul Lacazedieu</h5>
					<q>La Machine</q>
					<p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="flex flex-direction-column flex-align-items-center padding-left-10 padding-right-10">
					<img src="http://placehold.it/150x150">
					<h5 class="center">Adrien Fildier</h5>
					<q>Le Penseur</q>
					<p class="center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</div>
</div>
